.main-container{
    margin:50px 150px;
}

.page-title{
    font-size: large;
    text-align: center;
    padding:10px;
}

.navbar-container{
    display: flex;
    flex-direction: column;
}

.box1{
    width:100%;
    height:20px;
    padding:15px;
    text-align: center;
    background-color: pink;
}

.box2{
    padding:15px;    
    height:100px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    align-items: center;
}

#logo{
    margin-left: 582px;
    cursor:pointer;
}

#auth{
    display: flex;
    flex-direction: row;
    float:right;
    cursor: pointer;
}

#auth >div{
    padding:20px
}

.box3{
    
    background-color: black;
    color:pink;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.contents{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content > img{
    width:250px;
    height:360px;
}

.id-delivery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}

#content-id{
    color:grey;
}

#express-delivery{
    background-color: pink;
    padding:5px;
}

#content-name{
    font-size: larger;
    font-weight: 500;
}


.content>hr{
    border-color: pink;
}




.footer{
    height:400px;
    margin:0 auto;
    padding:20px; 
    background-color: pink;
    display: flex;
    flex-direction: column;
}

.footer>.box-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-container>.box{

    display: flex;
    flex-direction: column;
}

.box>.socials{
    display: flex;
    flex-direction: row;
}

.socials>div{
    width:40px;
    height:40px;
    border: 1px solid black;
    margin:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dropdown Button */
.dropbtn {
    color:pink;
    background-color: black;
    font-size: small;
    border: none;
    padding:10px 20px;
    height:100%;
    cursor: pointer;
  }

  .dropbtn:hover{
    background-color: pink;
    color:black
}
  

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: pink;
    color:black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content div {
    
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content div:hover {
    background-color: white;
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  

  .modal{
    width:600px;
   height:330px;
   padding:45px 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: space-between;
  }

  .modal > *{
    padding:20px;
  }

  .exit-button, .login-button{
    display: flex;
    justify-content: flex-end;
  }

  .input-modal{
    display: flex;
    flex-direction: column;
  }

  .input-modal>*{
    padding: 10px 0px;
  }


.buttons-modal{
    
    display: flex;
    flex: row;
    justify-content: space-around;
    
}

input{
    width:516px;
    height:20px;
    padding:12px;
    background-color: white;
    border: 1px solid grey;
}

input:focus{
    border:1px solid lightskyblue;
    box-shadow: rgba(102, 153, 204, 0.35) 0px 5px 15px;
    outline:none;
}

.login-button >button{
    
    padding:10px 45px;
    background-color: pink;
    border: none;
}

